// Default Colors
$darkGreen: #214f33;
$mint: #d1ded1;
$harvestGold: #c97f1f;
$engineRed: #ff4000;
$babyPink: #f2cfe3;

// Basics
$black: #0f0f0f;
$grey: #525355;
$lightGrey: #eee;
$white: #fff;

// Gradients
$gradientDark: linear-gradient(76.68deg, #000 3.45%, rgba(17, 48, 33, 0.1681));
